# Base settings
set $mod Mod1
set $term alacritty
set $menu bemenu-run
set $left h
set $down j
set $up k
set $right l
default_border none
font pango:inconsolata bold
input "*" {
    xkb_layout us
    xkb_variant dvorak
    xkb_options ctrl:nocaps
}
exec --no-startup-id swayidle \
        timeout 300 'swaymsg "output * dpms off"' \
        resume 'swaymsg "output * dpms on"'

# Polkit agent without dependencies
exec_always /usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1

# Import env variables to dbus and systemd-login
exec systemctl --user import-environment DISPLAY WAYLAND_DISPLAY SWAYSOCK
exec hash dbus-update-activation-environment 2>/dev/null && dbus-update-activation-environment --systemd DISPLAY WAYLAND_DISPLAY SWAYSOCK

{{- if (eq .chezmoi.hostname "tower") }}
# Dual monitor
output DP-1 mode 1920x1080@165.003Hz pos 0 0 adaptive_sync on
output HDMI-A-1 mode 1920x1060@60.000Hz pos 1920 0
{{- end }}

# wallpaper
{{- if (eq .chezmoi.hostname "wind") }}
output * bg ~/usr/spider.png stretch
{{- else if (eq .chezmoi.hostname "tower") }}
output * bg ~/Downloads/wallpapers/wave.png stretch
{{- else }}
output * bg #000000 solid_color
{{- end }}

# Use Mouse+$mod to drag floating windows to their wanted position
floating_modifier $mod normal

# start a terminal
bindsym $mod+c exec $term

# kill focused window
bindsym $mod+Shift+apostrophe kill

# start program launcher
bindsym $mod+e exec $menu

# change focus
bindsym $mod+$left focus left
bindsym $mod+$down focus down
bindsym $mod+$up focus up
bindsym $mod+$right focus right

# alternatively, you can use the cursor keys:
bindsym $mod+Left focus left
bindsym $mod+Down focus down
bindsym $mod+Up focus up
bindsym $mod+Right focus right

# move focused window
bindsym $mod+Shift+$left move left
bindsym $mod+Shift+$down move down
bindsym $mod+Shift+$up move up
bindsym $mod+Shift+$right move right

# alternatively, you can use the cursor keys:
bindsym $mod+Shift+Left move left
bindsym $mod+Shift+Down move down
bindsym $mod+Shift+Up move up
bindsym $mod+Shift+Right move right

# split in horizontal orientation
bindsym $mod+p splith

# split in vertical orientation
bindsym $mod+u splitv

# enter fullscreen mode for the focused container
bindsym $mod+f fullscreen

# change container layout (stacked, tabbed, toggle split)
bindsym $mod+o layout stacking
bindsym $mod+comma layout tabbed
bindsym $mod+period layout toggle split

# toggle tiling / floating
bindsym $mod+Shift+space floating toggle

# change focus between tiling / floating windows
bindsym $mod+space focus mode_toggle

# focus the parent container
bindsym $mod+a focus parent

# focus the child container
#bindsym $mod+d focus child

# Move the currently focused window to the scratchpad
bindsym $mod+Shift+minus move scratchpad
# Show the next scratchpad window or hide the focused scratchpad window.
# If there are multiple scratchpad windows, this command cycles through them.
bindsym $mod+minus scratchpad show

# switch to workspace
bindsym $mod+1 workspace 1
bindsym $mod+2 workspace 2
bindsym $mod+3 workspace 3
bindsym $mod+4 workspace 4
bindsym $mod+5 workspace 5
bindsym $mod+6 workspace 6
bindsym $mod+7 workspace 7
bindsym $mod+8 workspace 8
bindsym $mod+9 workspace 9
bindsym $mod+0 workspace 10

# move focused container to workspace
bindsym $mod+Shift+1 move container to workspace 1
bindsym $mod+Shift+2 move container to workspace 2
bindsym $mod+Shift+3 move container to workspace 3
bindsym $mod+Shift+4 move container to workspace 4
bindsym $mod+Shift+5 move container to workspace 5
bindsym $mod+Shift+6 move container to workspace 6
bindsym $mod+Shift+7 move container to workspace 7
bindsym $mod+Shift+8 move container to workspace 8
bindsym $mod+Shift+9 move container to workspace 9
bindsym $mod+Shift+0 move container to workspace 10

# reload the configuration file
bindsym $mod+Shift+y reload

# restart inplace (preserves your layout/session)
bindsym $mod+Shift+r restart

# exit (logs you out of your Wayland session)
bindsym $mod+Shift+period exec swaynag -t warning -m 'Exit sway? This will end your Wayland session.' -b 'Yes, exit sway' 'swaymsg exit'

# resize window (you can also use the mouse for that)
mode "resize" {
        # These bindings trigger as soon as you enter the resize mode

        # Pressing left will shrink the window’s width.
        # Pressing right will grow the window’s width.
        # Pressing up will shrink the window’s height.
        # Pressing down will grow the window’s height.
        bindsym $left resize shrink width 10 px or 10 ppt
        bindsym $down resize grow height 10 px or 10 ppt
        bindsym $up resize shrink height 10 px or 10 ppt
        bindsym $right resize grow width 10 px or 10 ppt

        # same bindings, but for the arrow keys
        bindsym Left resize shrink width 10 px or 10 ppt
        bindsym Down resize grow height 10 px or 10 ppt
        bindsym Up resize shrink height 10 px or 10 ppt
        bindsym Right resize grow width 10 px or 10 ppt

        # back to normal: Enter or Escape
        bindsym Return mode "default"
        bindsym Escape mode "default"
}

bindsym $mod+r mode "resize"

# Start swaybar to display a workspace bar
bar {
        swaybar_command waybar
        mode hide
        modifier Mod4
}

# allow switch back to prev if selecting current workspace
workspace_auto_back_and_forth yes

# always open certain programs to workspaces
assign [class="Firefox"] 2
assign [app_id="libreoffice*"] 4
assign [class="qBittorrent"] 5


# Quick program launches
bindsym $mod+w exec libreoffice
bindsym $mod+b exec firefox
bindsym $mod+t exec qbittorrent

# focus follows mouse?
focus_follows_mouse no

# screen capture
bindsym --release Print exec grim -g \"$(slurp)\" ~/screenshot-$(date +%Y-%m-%d_%H-%m-%s).png

# volume/music bindings
bindsym XF86AudioRaiseVolume exec pulsemixer --change-volume +5
bindsym XF86AudioLowerVolume exec pulsemixer --change-volume -5
bindsym XF86AudioMute exec pulsemixer --toggle-mute
bindsym XF86AudioPlay exec playerctl play-pause
bindsym XF86AudioStop exec playerctl stop
bindsym XF86AudioPrev exec playerctl previous
bindsym XF86AudioNext exec playerctl next
bindsym XF86MonBrightnessDown exec brightnessctl -q set 5%-
bindsym XF86MonBrightnessUp exec brightnessctl -q set +5%
