### SCHEME / COLOR ###
import = [
    "~/.config/alacritty/themes/themes/{{ if (eq .chezmoi.hostname "tower") }}solarized_dark{{ else if (eq .chezmoi.hostname "wind") }}nord{{ else }}dracula{{ end }}.toml"
]

### FONT ###
[font]
size = 14.0

[font.bold]
family = "Inconsolata Nerd Font"
style = "Bold"

[font.normal]
family = "Inconsolata Nerd Font"
style = "Regular"
