{
    "layer": "top",
    "position": "bottom",
    {{- if (eq .chezmoi.hostname "wind") }}
    "modules-left": ["sway/workspaces", "sway/mode", "wlr/taskbar", "tray"],
    {{- else if (eq .chezmoi.hostname "tower") }}
    "modules-left": ["sway/workspaces", "sway/mode"],
    {{- else }}
    "modules-left": ["sway/workspaces", "sway/mode"],
    {{- end }}
    {{- if (eq .chezmoi.hostname "wind") }}
    "modules-right": ["cpu", "custom/media", "pulseaudio", "custom/pacman", "network", "disk", "battery", "backlight", "temperature", "clock"],
    {{- else if (eq .chezmoi.hostname "tower") }}
    "modules-right": ["cpu", "temperature", "network", "custom/media", "pulseaudio", "disk","disk#home","disk#media", "clock", "tray"],
    {{- else }}
    "modules-right": ["cpu", "temperature", "network", "pulseaudio", "disk", "clock", "tray"],
    {{- end }}
    "modules-center": ["sway/window"],
    "sway/window": {
        "max-length": 50
    },
    "cpu": {
        "format": "{load}"
    },
    {{- if (eq .chezmoi.hostname "tower") }}
    "temperature": {
        "hwmon-path": "/sys/class/hwmon/hwmon1/temp1_input"
    },
    {{- end }}
    "battery": {
        "format": "{capacity}% {icon}",
        "format-icons": ["", "", "", "", ""]
    },
    "clock": {
        "format-alt": "{:%a, %d. %b  %H:%M}"
    },
    "network": {
        "format": "{ifname} | {ipaddr}",
        "format-wifi": "{essid} ({signalStrength}%)  | {ipaddr}",
        "format-ethernet": "{ifname}  | {ipaddr}",
        "format-disconnected": "", //An empty format will hide the module.
        "tooltip-format": "{ifname}",
        "tooltip-format-wifi": "{essid} ({signalStrength}%) ",
        "tooltip-format-ethernet": "{ifname} ",
        "tooltip-format-disconnected": "Disconnected",
        "max-length": 50,
        "on-click": "alacritty -e nmtui"
    },
    "custom/pacman": {
        "format": "{}  ",
        "interval": 3600,
        "exec": "checkupdates | wc -l",
        "exec-if": "exit 0",
        "on-click": "alacritty -e 'sudo pacman -Syu'; pkill -SIGRTMIN+8 waybar",
        "signal": 8
    },
    "custom/cmus": {
        "format": "{} ♪",
        "interval": 5,
        "max-length": 15,
        "exec": "cmus-remote -C \"format_print '%a - %t'\"",
        "exec-if": "pgrep cmus",
        "on-click": "cmus-remote -u",
        "on-click-right": "cmus-remote -n",
        "on-scroll-up": "cmus-remote -v +10%",
        "on-scroll-down": "cmus-remote -v -10%",
        "escape": true
    },
    "disk": {
        "format": "/: {free}",
        "path": "/"
    },
    "disk#media": {
        "format": "/media: {free}",
        "path": "/media"
    },
    "disk#home": {
        "format": "/home: {free}",
        "path": "/home"
    },
    "wlr/taskbar": {
        "format": "{icon}",
        "icon-size": 14,
        "icon-theme": "Numix-Circle",
        "tooltip-format": "{title}",
        "on-click": "activate",
        "on-click-middle": "close"
    },
    "custom/media": {
        "format": "{icon} {}",
        "return-type": "json",
        "format-icons": {
            "Playing": " ",
            "Paused": " ",
            "default": "🎶"
        },
        "tooltip": true,
        "max-length": 70,
        "exec": "playerctl metadata --format '{\"text\": \"{{`{{title}}`}}\", \"tooltip\": \"{{`{{playerName}}`}} : {{`{{artist}}`}} | {{`{{title}}`}}\"}' -F",
        "on-click": "playerctl play-pause",
        // status requires playerctl status
    },
    "pulseaudio": {
        "format": "{volume}% {icon}",
        "format-bluetooth": "{volume}% {icon}",
        "format-muted": "",
        "format-icons": {
            "headphones": "",
            "handsfree": "",
            "headset": "",
            "phone": "",
            "portable": "",
            "car": "",
            "default": ["", ""]
        },
        "scroll-step": 1,
        "on-click": "pulsemixer --toggle-mute",
        "on-click-right": "pavucontrol",
        "on-scroll-up": "pulsemixer --change-volume +5",
        "on-scroll-down": "pulsemixer --change-volume -5"
    }
}
